.category-burger {
background-color: #E76C1F;
padding: 10px;
margin-bottom: 10px;
}

.category-pizza {
background-color: #E76C1F;
padding: 10px;
margin-bottom: 10px;
}

.category-salads {
background-color: #E76C1F;
padding: 10px;
margin-bottom: 10px;
}